HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
!/a0040_sensitive.iml
!/mvnw.cmd
!/.mvn/
!/.idea/
!/mvnw

/mvnw
/mvnw.cmd
/.idea/
/.mvn/
/a0040_sensitive.iml
/.idea/
