* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "微软雅黑";
  overflow-x: hidden;
  background-color: #fff;
  position: relative;
}
ul {
  list-style: none;
}
.noscroll {
  overflow: hidden;
  position: relative;
}
.body_f2 {
  background: #f2f2f2;
}
.preload {
  display: none;
}
.none {
  display: none !important;
}
@media screen and (min-width: 1020px) {
  html {
    font-size: 20px;
    height: 100% !important;
    background-color: #f0f0f0;
  }
  body {
    font-size: 20px;
    width: 320px;
    margin: 0 auto;
    background-color: #fff;
    height: 100% !important;
  }
  .footernav {
    width: 320px !important;
  }
}
.swiper-container-wrap {
 
  background-size: 100% 100%;
}
.swiper-container {
  width: 88%;
  margin-bottom: 0.4rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.swiper-slide {
  color: #000;
  text-align: center;
  box-shadow: 0 0 30px #e4e4e4;
}
.swiper-slide img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}
.swiper-slide-bg {
  background: url('1.jpg');
  height: 600px;
  text-align: center;
  line-height: 600px;
}
.swiper-slidebg-blur {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}
.swiper-container .info {
  max-height: 8.32rem;
  bottom: 5.0590322rem;
  bottom: 3.32rem;
  font-size: 1rem;
  border-radius: 0.6rem;
  overflow: hidden;
  position: absolute;
  padding: 1rem 8%;
  left: 5%;
  width: 74%;
  background: url(images/bg_trans.png) repeat 0 0;
  text-align: left;
  box-shadow: 0 5px 20px #e4e4e4;
}
.swiper-container .info a {
  display: block;
  text-decoration: none;
}
.swiper-container .info span {
  display: block;
  color: #666;
  line-height: 1.52rem;
  font-size: 0.88rem;
}
.swiper-container .info span em {
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  color: #333;
}
@-webkit-keyframes giftgaizi {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /*总时7.2秒*/
  100% {
    opacity: 1;
    width: 1.8rem;
    height: 2.127rem;
  }
  /*0.3秒间隔，0.3秒状态*/
}
.footernav {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.3rem 0 .5rem;
  border-top: 1px solid #f7f7f7;
}
.footernav div {
  height: 3.5rem;
  width: 25%;
  float: left;
  flex-grow: 1;
  text-align: center;
  font-size: 0.9rem;
  color: #979797;
}
.footernav div a {display:block; text-decoration: none; color:#979797;}
.footernav .iccur a{ color: #6a83ff;}
.footernav div .tb {
  display: block;
  margin: 0 auto;
  width: 1.8rem;
  height: 2.127rem;
  background-size: 100% 100%;
  -webkit-animation: giftgaizi 0.6s;
  animation: giftgaizi 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.footernav .ic1 .tb {
  background: url(images/icon_home.png) no-repeat 0 0;
  background-size: 1.8rem 1.8rem;
}
.footernav .ic2 .tb {
  width: 1.68rem;
  height: 2.127rem;
  background: url(images/icon_deng.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.footernav .ic3 .tb {
  background: url(images/icon_dt.png) no-repeat 0 0.1rem;
  background-size: 1.8rem 1.8rem;
  background-position: 0.2rem;
}
.footernav .ic4 .tb {
  background: url(images/icon_msg.png) no-repeat 0 .2rem;
  background-size: 1.8rem 1.8rem;
}
.footernav .ic1 .cur {
  background: url(images/icon_home_hover.png) no-repeat 0 0.3rem;
  background-size: 1.8rem 1.8rem;
}
.footernav .ic2 .cur {
  background: url(images/icon_deng_hover.png) no-repeat 0 0;
  background-size: 1.8rem 1.8rem;
}
.footernav .ic3 .cur {
  background: url(images/icon_dt_hover.png) no-repeat 0 0;
  background-size: 1.8rem 1.8rem;
}
.footernav .ic4 .cur {
  background: url(images/icon_msg_hover.png) no-repeat 0 0;
  background-size: 1.8rem 1.8rem;
}
.cx_form .fit_flex {
  display: flex;
}
.cx_form .fit {
  margin-bottom: 0.4rem;
  padding: 0.6rem 1.2rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.cx_form .fit_flex {background:#f4f4f4;}
.cx_form .fit .dt {
  font-size: 0.72rem;
  line-height: 1.2rem;
  height: 1.2rem;
  margin-bottom:0.4rem;
  color:#fff;

}
.cx_form .fit .dd input {
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 0.3rem; 
  box-sizing: border-box;
}
.cx_form .fit .dd textarea {
  border: none;
}
.cx_form .fit_flex .dd{
  height:1.2rem;
  line-height:1.2rem;}
.cx_form .fit_flex .dd input{
  float: left;}
.cx_form .fit .dd .btn {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.cx_form .fit .dd .btn a {
  display: block;
  width: 9.6rem;
  height: 2.4rem;
  line-height: 2.4rem;
  border-radius: 1.5rem;
  background-color: #6a83ff;
  box-shadow: 0 5px 10px #e0e5ff;
  font-size: 1.16rem;
  color: #fff;
  margin: 0 auto;
}
.btn-disabled{
  background-color: #676666!important;
}
.cx_form .fit .dd .areawrap {
  background: #f4f4f4;
  border-radius: 0.4rem;
  padding: 0.4rem;
}
.cx_form .fit .dd .areawrap textarea {
  font-size: 0.96rem;
  border: none;
  color: #999999;
  height: 7.2rem;
}
.cx_form .fit .dd .areawrap span {
  display: block;
  text-align: right;
  font-size: 0.8rem;
  color: #999;
}
.cx_form .fit .dd .areawrap span em {font-style: normal;}
.cx_form .fit .dd .areawrap span b {
  color: #6a83ff;
  font-weight: normal;
  padding-right:2px;
}
.comment_foot {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #f7f7f7;
  height: 2.4rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  align-items: center;
  background-color: #fff;
  justify-content: space-around;
}
.comment_foot .commentwrap {
  height: 2.4rem;
  margin-left: 0.8rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  width: 70%;
  border-radius: 30px;
  background: #eeeeee;
  display: flex;
  align-items: center;
}
.comment_foot .icon {
  display: block;
  width: 1.2rem;
  height: 0.8rem;
  background: url(images/icon_write.png) no-repeat 0 0;
  background-size: 100% 100%;
}
.comment_foot .comipt {
  width: 18rem;
  font-size: 0.9rem;
  height: 1.2rem;
  padding-top:0.4rem;
  padding-left: 0.4rem;
  border: 0;
  background: none;
}
.comment_foot .combtn {
  width: 3.2rem;
  height: 2.4rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  line-height: 2.4rem;
  text-align: center;
  font-size: 1.12rem;
  border: 0;
  background: none;
  color: #6a83ff;
}
.comment_foot_focus {
  height: 6rem;
}
.comment_foot_focus .commentwrap {
  height: 6rem;
}
.comment_foot_focus .comipt {
  height: 4.8rem;
}
.comentList {
  margin-top: 0.4rem;
  background: #fff;
  border-top: 1px solid #f7f7f7;
}
.comentList li {
  display: flex;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #f7f7f7;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  align-content: flex-start;
}
.comentList li .dt {
  width: 2.4rem;
  height: 2.4rem;
  min-width: 2.4rem;
  min-height: 2.4rem;
  margin-top: 0.4rem;
}
.comentList li .dt img {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
  flex-grow: 1;
  box-shadow: 0px 1px 4px #999;
}
.comentList li .dd {
  margin-left: 0.8rem;
  flex:1;
}
.comentList li .dd h3 {
  font-size: 1.04rem;
  color: #666;
  margin-bottom: 0.4rem;
  font-weight: normal;
}
.comentList li .dd p {
  color: #999;
  font-size: 0.8rem;
}
.comentList li .dd .action {
  justify-content: space-between;
  padding-top: 0.2rem;
  line-height: 1.2rem;
  display:flex;
  justify-content: space-between;
}
.comentList li .dd .action .cont {
  font-size: 0.88rem;
  color: #999;
  margin-right: 0.1rem;
}
.comentList li .dd .action .comdz {
  padding-left: 1.2rem;
  color: #999;
  font-size: 0.88rem;
  background: url(images/bg_great.png) no-repeat 0 top;
  background-size: 1rem 1rem;
}
.comentList li .dd .action .comdzCur {
  background: url(images/bg_great_hover.png) no-repeat 0 0;
  background-size: 1rem 1rem;
  padding-left: 1.2rem;
  color: #999;
  font-size: 0.88rem;
}
.uploadimg {
  position: relative;
}
.btn_closecom {
  padding-top: 0.4rem;
  padding-bottom: 1.4rem;
}
.btn_closecom .btn_close {
  display: block;
  width: 5.6rem;
  height: 1.68rem;
  margin-left: 0.6rem;
  line-height: 1.68rem;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  background: #70adf8;
  border-radius: 0.8rem;
  box-shadow: 1px 1px 4px #2b74ce;
}
.loading {
  text-align: center;
  /*padding-top: 0.56rem;*/
}
.loading a {
  text-decoration: none;
  color: #999;
  font-size: 0.48rem;
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
}

.readnum{
  float: right;
  margin-right: 2rem;
  color: #999;
  font-size: 0.96rem;
  text-decoration: underline;
}




/*!
Chosen, a Select Box Enhancer for jQuery and Prototype
by Patrick Filler for Harvest, http://getharvest.com

Version 1.8.7
Full source at https://github.com/harvesthq/chosen
Copyright (c) 2011-2018 Harvest http://getharvest.com

MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
This file is generated by `grunt build`, do not edit it by hand.
*/

/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chosen-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  z-index: 1010;
  width: 100%;
  border: 1px solid #aaa;
  border-top: 0;
  background: #fff;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100% 100%);
  clip-path: inset(100% 100%);
}

.chosen-container.chosen-with-drop .chosen-drop {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
}

.chosen-container a {
  cursor: pointer;
}

.chosen-container .search-choice .group-name, .chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}

.chosen-container .search-choice .group-name:after, .chosen-container .chosen-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

/* @end */
/* @group Single Chosen */
.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #aaa;
  border-radius: 5px;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #fff), color-stop(50%, #f6f6f6), color-stop(52%, #eee), to(#f4f4f4));
  background: linear-gradient(#fff 20%, #f6f6f6 50%, #eee 52%, #f4f4f4 100%);
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
}

.chosen-container-single .chosen-default {
  color: #999;
}

.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}

.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("chosen-sprite.png") no-repeat 0px 2px;
}

.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: url("chosen-sprite.png") no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(100% 100%);
  clip-path: inset(100% 100%);
}

/* @end */
/* @group Results */
.chosen-container .chosen-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}

.chosen-container .chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #3875d7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}

.chosen-container .chosen-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}

.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}

.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}

.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

/* @end */
/* @group Multi Chosen */
.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eee), color-stop(15%, #fff));
  background-image: linear-gradient(#eee 1%, #fff 15%);
  cursor: text;
}

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
  width: 25px;
}

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice span {
  word-wrap: break-word;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), to(#eee));
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
  color: #666;
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: #d4d4d4;
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 0;
}

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

/* @end */
/* @group Active  */
.chosen-container-active .chosen-single {
  border: 1px solid #5897fb;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid #aaa;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #eee), color-stop(80%, #fff));
  background-image: linear-gradient(#eee 20%, #fff 80%);
  -webkit-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}

.chosen-container-active .chosen-choices {
  border: 1px solid #5897fb;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: #222 !important;
}

/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.chosen-disabled .chosen-single {
  cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}

.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}

.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}

.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}

.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}

.chosen-rtl .chosen-choices li {
  float: right;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: url("chosen-sprite.png") no-repeat -30px -20px;
  direction: rtl;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
/* @group Retina compatibility */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}

/* @end */
